﻿<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Einstellungen</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-unlock-alt"></i>
						
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">11FI1</div>
						<div>Wallner</div>
					</div>
				</div>
			</div>
			<a href="index.php?page=schuelerausklasse">
				<div class="panel-footer">
					<span class="pull-left">Klasse anzeigen</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>		
